.spub-settings-component {
    .pub-header-popover {
        z-index: 21;
    }

    .submission-tab-prompt {
        display: flex;
        flex-direction: row;
        column-gap: 340px;
    }
    .submission-tab-prompt-text {
        width: 300px;
    }
}
