@use 'sass:math';

@import 'styles/typography.scss';

@import './facetEditor.scss';

$margin: 15px;
$padding: 10px;
$border-width: 1px;

$arrow-width: 10px;
$arrow-height: 20px;
$arrow-tip-size: 7px;
$arrow-bauble-size: 18px;
$arrow-border: 2px solid currentColor;
$arrow-mask-gradient: linear-gradient(to bottom, transparent, black);
$arrow-rotated-offset: 0.5 * (math.sqrt(2) * $arrow-tip-size);

$inherited-accent-color: #ddd;
$local-accent-color: var(--community-accent-dark-faded-40);
$accent-color: var(--accent-color);

.facet-prop-editor-skeleton-component {
    --accent-color: #{$inherited-accent-color};

    &.local-value {
        --accent-color: #{$local-accent-color};
        box-shadow: $gentle-shadow;
        background: white;
    }

    margin: $margin;
    padding: $padding;
    border: $border-width solid var(--accent-color);

    .inheritance-container {
        display: inline-block;
        border-radius: 3px;
        padding: 4px 10px;
        overflow: hidden;
        background-color: #ddd;
        color: white;
        .arrow-container {
            position: absolute;
            .arrow {
                position: relative;
                transform: translateY(calc(#{0 - $arrow-rotated-offset} - 0.5em + 1px));
                .arrow-bend {
                    top: 0;
                    left: 0;
                    width: $arrow-width;
                    height: $arrow-height;
                    border-bottom-left-radius: 4px;
                    border-left: $arrow-border;
                    border-bottom: $arrow-border;
                    mask-image: $arrow-mask-gradient;
                }
                .arrow-tip {
                    position: absolute;
                    transform: translateY(#{-0.5 * ($arrow-tip-size + $border-width)})
                        translateX(#{$arrow-width - $arrow-tip-size}) rotate(45deg);
                    border-top: $arrow-border;
                    border-right: $arrow-border;
                    width: $arrow-tip-size;
                    height: $arrow-tip-size;
                }
            }
        }
        .inheritance-controls {
            font-size: 11px;
            margin-left: 5 + $arrow-width;
            @include subheading;
        }
    }

    .label {
        margin-bottom: $padding;
        font-weight: bold;
        // @include subheading;
    }
}
