@use 'sass:math';

@import 'styles/typography.scss';

@import './facetEditor.scss';

$border-width: 1px;
$inheritance-triangle-size: 32px;

$inherited-accent-color: #bbb;
$local-accent-color: var(--community-accent-dark-faded-30);
$accent-color: var(--accent-color);

.facet-prop-editor-skeleton-component {
    --accent-color: #{$inherited-accent-color};
    transition: background 100ms ease-out, box-shadow 100ms ease-out, border 100ms ease-out;

    &.local-value {
        --accent-color: #{$local-accent-color};
        box-shadow: $gentle-shadow;
        background: white;
    }

    border: $border-width solid var(--accent-color);
    position: relative;

    .top-row {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        font-weight: 600;
        .inheritance-triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: $inheritance-triangle-size $inheritance-triangle-size 0 0;
            border-color: var(--accent-color) transparent transparent transparent;

            &:not(:disabled) {
                cursor: pointer;
            }

            .inheritance-icon {
                color: white;
                position: absolute;
                top: 2px;
                left: 2px;
                &.reset-icon {
                    top: 4px;
                    left: 4px;
                }
            }
        }

        .label-group {
            transform: translateY(2px);
            .inheritance-info {
                @include subheading;
                font-size: 10px;
                color: var(--accent-color);
            }
        }
    }

    .controls-container {
        padding: $spacing;
    }
}
