$gentle-shadow: 0 4px 2px -2px rgba(black, 0.1);
$gentler-shadow: 0 4px 2px -2px rgba(black, 0.05);

$spacing: 15px;

.facet-editor-component {
    &.self-contained {
        width: 400px;
        border: 1px solid #777;
        box-shadow: $gentle-shadow;
        padding: $spacing;
    }

    .description {
        summary {
            font-style: normal;
            user-select: none;
        }
        margin-bottom: $spacing;
        font-size: 14px;
    }

    .prop-editors {
        > *:not(:first-child) {
            margin-top: $spacing;
        }
    }
}
