@import 'styles/variables.scss';
@import '../DashboardSubmissionWorkflow/shared.scss';

.submission-pub-card-component {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid $border-color;
    background: white;

    .title-row {
        font-family: $header-font;
        font-size: 16px;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    & > :not(:last-child) {
        margin-bottom: 5px;
    }
}
