#features-box {
  font-family: motiva-sans, sans-serif;
  width: 100%;
  margin-top: 50px;
  .container {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
  .callout {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .subtitle-1 {
    font-size: 4em;
    font-weight: 200;
    color: #d8d8d8;
    line-height: 1.3em;
    .smaller {
      font-style: italic;
      font-size: 32px;
    }
  }
  .features-list {
    width: 100%;
    margin-top: 50px;
    .section-title {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      padding-top: 50px;
      margin-bottom: 25px;
      color: #1f1f1f;
    }
    .feature {
      padding-top: 25px;
      padding-bottom: 25px;
      border-top: 1px dashed #d6d6d6;
      background-color: #1f1f1f;
      .title {
        color: #f6f6f6;
        font-size: 36px;
        font-weight: 200;
        line-height: 36px;
        padding-top: 35px;
      }   
      .content {
        display: flex;
        flex-direction: row;
        max-height: 325px;
        justify-content: space-between;
        padding-bottom: 25px;
        height: 500px;
        .bullets {
          ul {
            margin-top: 25px;
            list-style: none;
            margin-left: 0;
            padding-left: 1em;
            text-indent: -1em;
            color: #d8d8d8;
            li {
              padding-bottom: 15px;
              font-weight: 200;
              font-size: 16px;
              line-height: 2em;
            }
            li:before {
              content: "+";
              padding-right: 15px;
            }
          }          
        }
        .graphic {
          width: 60%;
          margin-left: 25px;          
        }
      }   
    }
    .alt-row {
      background-color: #f6f6f6;
      .container {
        .title {
          color: #000;
        }
        .content .bullets ul {
          color: #1f1f1f;
        }
      }
    }
  } 
  .otherfeatures-box {
    width: 100%;
    background-color: #1f1f1f;
    padding-bottom: 50px;
    .container {
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
      .title {
        font-weight: 700;
        font-size: 20px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        padding-top: 50px;
        margin-bottom: 25px;
        color: #f6f6f6;
      }
      .feature-grid {
        margin-top: 50px;
        display: grid;
        grid-column-start: 2;
        text-align: left;
        grid-template-columns: repeat(auto-fit, 48%);
        grid-auto-rows: auto;
        grid-column-gap: 1em;
        grid-row-gap: 4em;
        justify-content: space-between;
        .feature {
          display: flex;
          color: #fff;
          .description {
            border-left: 1px dashed #bdbdbd;
            padding-left: 1em;
            margin-left: 1em;
            p {
              margin-bottom: 0;
              letter-spacing: 0px;
              font-weight: 300;
              color: #bdbdbd;
            }
            h4 {
              line-height: 1em;
              color: #fff;
              font-weight: 400;
              letter-spacing: 0px;
            }
          }
        }
      }
      .subtext1 {
        margin-top: 50px;
        padding-top: 35px;
        padding-bottom: 15px;
        font-weight: 200;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
        a {
          color: #fff;
          font-weight: 400;
          font-size: 18px;
        }
      }
    }
  }   
}

@media only screen and (max-width: 720px) {
  #features-box {
    .container {
      width: 90%;
    }
    margin-top: 35px;
    .subtitle-1 {
      font-size: 3em;
      line-height: 1.1em;
      .smaller {
        font-style: italic;
        font-size: 20px;
      }
    }
    .features-list {
      width: 100%;
      margin-top: 20px;
      .section-title {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        padding-top: 50px;
        margin-bottom: 25px;
        color: #1f1f1f;
      }
      .feature {
        padding-top: 10px;
        padding-bottom: 10px;
        .title {
          color: #f6f6f6;
          font-size: 28px;
          font-weight: 200;
          line-height: 34px;
          padding-top: 15px;
        }   
        .content {
          display: flex;
          flex-direction: column-reverse;
          justify-content: start;
          align-items: center;
          padding-bottom: 25px;
          height: auto;
          .bullets {
            ul {
              margin-top: 10px;
              li {
                padding-bottom: 15px;
                font-weight: 200;
                font-size: 12px;
                line-height: 1em;
              }
              li:before {
                content: "+";
                padding-right: 15px;
              }
            }          
          }
          .graphic {
            width: 90%;
            margin-left: 0px;    
            margin-top: 10px;
            margin-bottom: 20px;      
          }
        }   
      }
    } 
    .otherfeatures-box {
      width: 100%;
      background-color: #1f1f1f;
      padding-bottom: 50px;
      .container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .title {
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          padding-top: 50px;
          margin-bottom: 25px;
          color: #fff;
        }
        .feature-grid {
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .feature {
            display: flex;
            color: #fff;
            .description {
              border-left: 1px dashed #bdbdbd;
              padding-left: 1em;
              margin-left: 1em;
              p {
                margin-bottom: 0;
                letter-spacing: 0px;
                font-weight: 300;
                color: #bdbdbd;
              }
              h4 {
                line-height: 1em;
                color: #fff;
                font-weight: 400;
                letter-spacing: 0px;
              }
            }
          }
        }
        .subtext1 {
          margin-top: 50px;
          padding-top: 35px;
          padding-bottom: 15px;
          font-weight: 200;
          font-size: 16px;
          line-height: 1.5em;
          letter-spacing: 0px;
          text-align: center;
          color: #fff;
          a {
            color: #fff;
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
    }   
  }
}