@import 'styles/variables.scss';

.instructions-tab-component {
	h1 {
		margin: 5px 0;
		font-weight: 400;
		font-size: 40px;
		line-height: 56px;
		color: var(--community-accent-dark);
	}

	.instructions {
		max-height: 400px;
		overflow: scroll;
	}
}
