@mixin all-white {
}

.top-tabs-component {
    .bp3-tab {
        padding: 15px;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        color: white !important;
    }

    .bp3-tab-indicator-wrapper {
        background: rgba(white, 0.2) !important;
        .bp3-tab-indicator {
            background: white;
        }
    }
}
