@import 'styles/mixins.scss';

$icon-container-size: 32px;
$gentle-shadow: 0 4px 2px -2px rgba(black, 0.1);

.dashboard-settings-frame-component {
    .bp3-tab-indicator-wrapper .bp3-tab-indicator {
        background-color: var(--community-accent-dark);
    }

    .bp3-tab.dashboard-settings-frame-tab {
        display: flex;
        align-items: center;
        padding: 6px 0;
        .icon-container {
            box-sizing: border-box;
            width: $icon-container-size;
            height: $icon-container-size;
            border-radius: $icon-container-size;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--community-accent-dark-faded);
            color: rgb(42, 42, 42);
            margin-right: 5px;
            border: 1px solid #ddd;
            .bp3-icon {
                opacity: 0.5;
                position: relative;
                z-index: 1;
            }
        }
        &[aria-selected='true'] {
            .icon-container {
                color: white;
                transition: 0.1s all ease-out;
                background-color: var(--community-accent-dark);
                border-color: var(--community-accent-dark);
                .bp3-icon {
                    opacity: 1;
                }
            }
        }
    }

    .dashboard-settings-frame-sticky-controls {
        border-left: 50px solid white;
        margin-left: -50px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        &.js-is-sticky {
            box-shadow: $gentle-shadow;
        }
    }

    .dashboard-settings-frame-tab-panel {
        margin-top: 2em;
        > * {
            margin-bottom: 3em;
            @include mobile {
                margin-bottom: 2em;
            }
        }
    }
}
